body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.jumbotron{
    background: linear-gradient(to right, pink , white);
    border-radius: 10px!important;
    margin-top:0px;
}


.searchForm{
    height: 60px;
    font-size: 50px;
}

.searchBtn{
    height: 60px;
    width: 200px;
}

.btn {
    margin-left: 5px;
}

.sortBtn{
  margin-right: 20px;
}

.active{
  background-color: white;
  padding: 18px 10px  18px 10px;
  color: pink;
  margin-left: 20px;
}

.topNav{
  background-color: pink;
}

.navTitle{
  color: white;
  text-decoration: none
}

.notactive{
  color: white;
  text-decoration: none;
  margin-left: 20px;
}
